/* /*-- CSS Code and Design by Hobino, le717, and rioforce --*/
/*-- px to em conversion by http://pxtoem.com/ using 16px as base px size. --*/

/*-- Overall Styling Code --*/
#staff {
margin: 3.125em auto;
width: 62.500em;
height: 37.500em;
position: relative;
padding: 3.125em;
background-color: #ffffff;
}

/* Minifigure image */
#minifig {
position: relative;
left: 40.625em;
top: 6.250em;
}

/* Staff Members header */
#staff h2 {
font-size:1.5em;
border-bottom: 5px solid black;
color: #634CE1;
}

/* Shared Box Settings */
.box {
width: 8.500em;
height: 8.500em;
position: absolute;
/* border: 0.438em solid #5E5E5E; */
border: 0.438em solid #2B2B2B;
padding: 1.250em;
border-radius: 1.500em;
font-size: 1em;
font-weight: bold;
text-align: center;
/* color: blue; */
/* box-shadow: 0.438em 0.438em 0.438em black; */
color: #0415CD;
box-shadow: 0.438em 0.438em 0.438em #F10509;
/* box-shadow: 0.438em 0.438em 0.438em #7963E9; */
top: 25%;
}

ul { text-align: left; }

/*-- Link Stuff -- */
a { color: black; text-decoration: none;}
a:hover { color: #7058C0; text-decoration: underline; opacity: 0.8; }

/* Box ID labels */
h3 {
width: 12.500em;
position: absolute;
/* color: #636363;  */
color: #2B2B2B;
}

/* -- Individual Box Styling Code -- */

#admin { left: 3.250em; }

#adminh { left: 5.800em; }

#mod { left: 19.000em; }

#modh { left: 19.200em; }

#retired { left: 34.750em; }

#retiredh { left: 32.000em; } */